.App {
  text-align: center;
  background-color: #282c34;
  resize: both;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header  {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.component-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 20px; */
}

@media (max-width: 768px) {
  .component-flex {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .component-flex {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .component-flex {
    font-size: 18px;
  }
  
  .App {
    padding: 20px;
  }
  
  .App-logo {
    height: 20vmin;
  }
  
  .component-flex button {
    margin-top: 20px;
  }
}

.App-link {
  color: #61dafb;
}

.title {
  color: #1DB954;
  top:0;
  font-weight: bold;
  /* font-size: 66px; */
  resize: both;
  height: 10vh;
  font-size: calc(50px + 2vmin);
}

@media (max-width: 900px) {
  .title {
    font-size: 30px;
  }
}

.logout-button {
  position: absolute;
  top: 4%;
  right: 5%;
  background-color: #1DB954;
  border-radius: 20px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 900px) {
  .logout-button {
    top: 4%;
    right: 5%;
    font-size: 16px;
    padding: 10px 20px;
    margin: 4px 2px;
    resize: both;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(20vh - 50px);
}

@media (max-width: 900px) {
  .login-container {
    margin-top: calc(10vh - 50px);
  }
}

.login-button {
  /* position: absolute; */
  align-items: center;
  align-self: center;
  /* margin-top: 30vh; */
  /* top: 30%; */
  font-weight: bold;
  width: 300px;
  color: #fff;
  background-color: #1DB954;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  /* margin: 4px 2px; */
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .login-button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 4px 2px;
    resize: both;
  }
}

.profile {
  position: absolute;
  top:4%;
  left: 5%;
}

.back-button {
  cursor: pointer;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 3%;
  left : 5%;
  background-color: #1DB954;
  color: #fff;
  width: 200px;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  border-radius: 20px;
}


/* @media (max-width: 768px) {
  .back-button {
    top: 13%;
    left: 20%;
  }
} */

.back-button:hover {
  background-color: #1db954a9;
}

.back-button:active {
  background-color: #1db954a9;
}

.dropdowns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* border-radius: 20px; */
}

.dropdowns select {
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #1DB954;
  cursor: pointer;
  width: 25%;
  height: 50px;
  border-radius: 10px;
}

.dropdowns select:focus {
  outline: none;
  background-color: #000000;
  box-shadow: 0 0 5px #333;
}

.dropdowns select option {
  color: #1DB954;
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
}


.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #1DB954;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}

.top-button:hover {
  background-color: #1db954a9;
}

.top-button:active {
  background-color: #1db954a9;
}

.get-top {
  margin-top: calc(20vh - 50px);
}

.logo {
  margin-top: 20%;
  /* a  nimation: logo 20s linear infinite; */
  height: 12vmin;
}

@media (max-width: 900px) {
  .logo {
    height: 8vmin;
  }
}

/* @keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */
